In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('master_books.csv')
print(df.shape)
df.head()

(19707, 6)

,title,author,rating,description,language,isbn
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.33 avg rating — 6,191,931 ratings",WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,0439023483 (ISBN13: 9780439023481)
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"4.50 avg rating — 2,414,060 ratings",There is a door at the end of a silent corrido...,English,0439358078 (ISBN13: 9780439358071)
2,To Kill a Mockingbird,Harper Lee,"4.28 avg rating — 4,348,656 ratings",The unforgettable novel of a childhood in a sl...,English,NaN
3,Pride and Prejudice,Jane Austen,"4.26 avg rating — 2,886,703 ratings",Alternate cover edition of ISBN 9780679783268S...,English,NaN
4,"Twilight (Twilight, #1)",Stephenie Meyer,"3.59 avg rating — 4,815,701 ratings",About three things I was absolutely positive.\...,English,0316015849 (ISBN13: 9780316015844)

In [8]:
df['language'].value_counts()

English                                15960
Arabic                                   441
Spanish                                  278
French                                   220
German                                   160
Indonesian                               159
Portuguese                               114
Italian                                   90
Dutch                                     86
Turkish                                   77
Persian                                   54
Polish                                    41
Romanian                                  37
Malay                                     33
Czech                                     33
Bulgarian                                 31
Swedish                                   25
Japanese                                  24
Greek, Modern (1453-)                     21
Urdu                                      21
Russian                                   18
Bengali                                   17
Serbian                                   14
Finnish                                   13
Estonian                                  13
Vietnamese                                11
Lithuanian                                 9
Norwegian                                  8
Hungarian                                  7
Tamil                                      6
Malayalam                                  6
Thai                                       6
Danish                                     6
Catalan; Valencian                         5
Multiple languages                         5
Croatian                                   4
Georgian                                   4
Bosnian                                    3
Filipino; Pilipino                         3
Armenian                                   3
Amharic                                    3
Afrikaans                                  2
Kannada                                    2
Latvian                                    2
Macedonian                                 2
Chinese                                    2
Telugu                                     2
Bokmål, Norwegian; Norwegian Bokmål        2
Gujarati                                   2
Albanian                                   2
Icelandic                                  1
Hindi                                      1
Marathi                                    1
Name: language, dtype: int64

In [9]:
df = df[df['language'] == 'English']
df.shape

(15960, 6)

In [10]:
df.isnull().sum()

title             0
author            0
rating            0
description     148
language          0
isbn           2754
dtype: int64

In [21]:
df['title'].value_counts()

The Gift                                                                                                                                                     6
The Stand                                                                                                                                                    5
Life in Outer Space                                                                                                                                          4
Whose God? Whose Land?: The Great Empires and The Making of the Modern Middle East (JUDAISM, CHRISTIANITY, ISLAM: THE THREE PILLARS OF MONOTHEISM Book 1)    4
Floors                                                                                                                                                       4
                                                                                                                                                            ..
Dragonfly                                                                                                                                                    1
Retrieving for All Occasions                                                                                                                                 1
Underground: The Tokyo Gas Attack and the Japanese Psyche                                                                                                    1
Apocalypse Cow                                                                                                                                               1
The Island of the Day Before                                                                                                                                 1
Name: title, Length: 12365, dtype: int64

In [24]:
seen = set()
def find_doubles(title, author, seen=seen):
    title_author = (title, author)
    if title_author not in seen:
        seen.add(title_author)
        return False
    else:
        return True

In [27]:
df['double'] = df.apply(lambda x: find_doubles(x.title, x.author), axis=1)

In [28]:
df['double'].value_counts()

False    12415
True      3545
Name: double, dtype: int64

In [32]:
mask = ~df['double']
df = df[mask]

In [40]:
df.isnull().sum()

title             0
author            0
rating            0
description     104
language          0
isbn           2025
double            0
dtype: int64

In [41]:
df = df.dropna(subset=['description'])
df.shape

(12311, 7)

In [42]:
import re
text = df.loc[0, 'description'].lower()
re.sub('\W+', ' ', text)

'winning means fame and fortune losing means certain death the hunger games have begun in the ruins of a place once known as north america lies the nation of panem a shining capitol surrounded by twelve outlying districts the capitol is harsh and cruel and keeps the districts in line by forcing them all to send one boy and once girl between the ages of twelve and eighteen to participate in the annual hunger games a fight to the death on live tv sixteen year old katniss everdeen regards it as a death sentence when she steps forward to take her sister s place in the games but katniss has been close to dead before and survival for her is second nature without really meaning to she becomes a contender but if she is to win she will have to start making choices that weight survival against humanity and life against love '

In [63]:
df['text'] = [re.sub('\W+', ' ', text.lower()) for text in df['description']]

In [11]:
import spacy

In [64]:
nlp = spacy.load('en_core_web_sm')

In [65]:
text = df.loc[:5, 'description']
text = ''.join(text).replace('\r', '').replace('\n', '')
text

'WINNING MEANS FAME AND FORTUNE.LOSING MEANS CERTAIN DEATH.THE HUNGER GAMES HAVE BEGUN. . . .In the ruins of a place once known as North America lies the nation of Panem, a shining Capitol surrounded by twelve outlying districts. The Capitol is harsh and cruel and keeps the districts in line by forcing them all to send one boy and once girl between the ages of twelve and eighteen to participate in the annual Hunger Games, a fight to the death on live TV.Sixteen-year-old Katniss Everdeen regards it as a death sentence when she steps forward to take her sister\'s place in the Games. But Katniss has been close to dead before—and survival, for her, is second nature. Without really meaning to, she becomes a contender. But if she is to win, she will have to start making choices that weight survival against humanity and life against love.There is a door at the end of a silent corridor. And it’s haunting Harry Pottter’s dreams. Why else would he be waking in the middle of the night, screaming in terror?Harry has a lot on his mind for this, his fifth year at Hogwarts: a Defense Against the Dark Arts teacher with a personality like poisoned honey; a big surprise on the Gryffindor Quidditch team; and the looming terror of the Ordinary Wizarding Level exams. But all these things pale next to the growing threat of He-Who-Must-Not-Be-Named - a threat that neither the magical government nor the authorities at Hogwarts can stop.As the grasp of darkness tightens, Harry must discover the true depth and strength of his friends, the importance of boundless loyalty, and the shocking price of unbearable sacrifice.His fate depends on them all.The unforgettable novel of a childhood in a sleepy Southern town and the crisis of conscience that rocked it, To Kill A Mockingbird became both an instant bestseller and a critical success when it was first published in 1960. It went on to win the Pulitzer Prize in 1961 and was later made into an Academy Award-winning film, also a classic.Compassionate, dramatic, and deeply moving, To Kill A Mockingbird takes readers to the roots of human behavior - to innocence and experience, kindness and cruelty, love and hatred, humor and pathos. Now with over 18 million copies in print and translated into forty languages, this regional story by a young Alabama woman claims universal appeal. Harper Lee always considered her book to be a simple love story. Today it is regarded as a masterpiece of American literature.Alternate cover edition of ISBN 9780679783268Since its immediate success in 1813, Pride and Prejudice has remained one of the most popular novels in the English language. Jane Austen called this brilliant work "her own darling child" and its vivacious heroine, Elizabeth Bennet, "as delightful a creature as ever appeared in print." The romantic clash between the opinionated Elizabeth and her proud beau, Mr. Darcy, is a splendid performance of civilized sparring. And Jane Austen\'s radiant wit sparkles as her characters dance a delicate quadrille of flirtation and intrigue, making this book the most superb comedy of manners of Regency England.About three things I was absolutely positive.First, Edward was a vampire.Second, there was a part of him—and I didn\'t know how dominant that part might be—that thirsted for my blood.And third, I was unconditionally and irrevocably in love with him.Deeply seductive and extraordinarily suspenseful, Twilight is a love story with bite.It is 1939. Nazi Germany. The country is holding its breath. Death has never been busier, and will be busier still.By her brother\'s graveside, Liesel\'s life is changed when she picks up a single object, partially hidden in the snow. It is The Gravedigger\'s Handbook, left behind there by accident, and it is her first act of book thievery. So begins a love affair with books and words, as Liesel, with the help of her accordian-playing foster father, learns to read. Soon she is stealing books from Nazi book-burnings, the mayor\'s wife\'s library, wherever there are books to be found.But these are dangerous times. When Liesel\'s foster family hides a Jew in their basement, Liesel\'s world is both opened up, and closed down.In superbly crafted writing that burns with intensity, award-winning author Markus Zusak has given us one of the most enduring stories of our time.(Note: this title was not published as YA fiction)'

In [66]:
from spacy.tokenizer import Tokenizer

tokenizer = Tokenizer(nlp.vocab)

In [67]:
def make_tokens(text, tokenizer=tokenizer):
    return [token.text for token in tokenizer(text) if token.is_stop == False]

In [68]:
df['tokens'] = df['text'].apply(make_tokens)
df['tokens']

0        [winning, means, fame, fortune, losing, means,...
1        [door, end, silent, corridor, s, haunting, har...
2        [unforgettable, novel, childhood, sleepy, sout...
3        [alternate, cover, edition, isbn, 978067978326...
4        [things, absolutely, positive, edward, vampire...
                               ...
15589    [tradition, bury, heart, wounded, knee, stunni...
15590    [ , woman, year, history, karyukai, come, forw...
15591    [true, story, individual, s, struggle, self, i...
15592    [jack, reacher, hero, loner, soldier, soldier,...
15593    [won, fame, freedom, gory, pits, rome, s, colo...
Name: tokens, Length: 12311, dtype: object

In [58]:
%%timeit

tokens = []

for doc in tokenizer.pipe(df['text'], batch_size=100):
    
    doc_tokens = [token.text for token in doc if token.is_stop == False]
    
    tokens.append(doc_tokens)

6.32 s ± 176 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [54]:
%%timeit
df['tokens'] = df['text'].apply(make_tokens)

6.71 s ± 249 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [62]:
df['tokens']

0        [WINNING, MEANS, FAME, FORTUNE, LOSING, MEANS,...
1        [door, end, silent, corridor, s, haunting, Har...
2        [unforgettable, novel, childhood, sleepy, Sout...
3        [Alternate, cover, edition, ISBN, 978067978326...
4        [things, absolutely, positive, Edward, vampire...
                               ...
15589    [tradition, Bury, Heart, Wounded, Knee, stunni...
15590    [ , woman, year, history, karyukai, come, forw...
15591    [true, story, individual, s, struggle, self, i...
15592    [Jack, Reacher, Hero, Loner, Soldier, Soldier,...
15593    [won, fame, freedom, gory, pits, Rome, s, Colo...
Name: tokens, Length: 12311, dtype: object

In [ ]:
df['lemmas'] = [token.lemma_ for token in ]

In [19]:
[token.lemma_ for token in doc if token.pos_ == 'VERB']

['mean',
 'mean',
 'have',
 'know',
 'lie',
 'shine',
 'surround',
 'keep',
 'force',
 'send',
 'participate',
 'regard',
 'step',
 'take',
 'mean',
 'become',
 'win',
 'will',
 'start',
 'make',
 'weight',
 '’',
 'would',
 'wake',
 'scream',
 'poison',
 'loom',
 'pale',
 'grow',
 'Must',
 'name',
 'can',
 'stop',
 'must',
 'discover',
 'depend',
 'rock',
 'kill',
 'become',
 'publish',
 'go',
 'win',
 'make',
 'win',
 'move',
 'kill',
 'take',
 'translate',
 'claim',
 'consider',
 'regard',
 'remain',
 'call',
 'appear',
 'sparkle',
 'dance',
 'make',
 'know',
 'may',
 'thirst',
 'hold',
 'will',
 'change',
 'pick',
 'hide',
 'leave',
 'begin',
 'play',
 'learn',
 'read',
 'steal',
 'find',
 'hide',
 'open',
 'close',
 'craft',
 'write',
 'burn',
 'win',
 'give',
 'publish']

In [70]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [73]:
vect = TfidfVectorizer()

data = [' '.join(x) for x in df['tokens']]

vect.fit(data)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [74]:
sparse = vect.transform(data)

dtm = pd.DataFrame(sparse.todense(), columns=vect.get_feature_names())

dtm.head()

,00,000,001,007,01,0140422536,0141183829,02,020,03,...,धर,मपद,美しさと哀しみと,ﬁerce,ﬁnd,ﬁred,ﬁrst,ﬂame,ﬂavorful,ﬂavors
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
from sklearn.neighbors import NearestNeighbors

In [81]:
nn = NearestNeighbors(n_neighbors=10, algorithm='ball_tree')

In [82]:
nn.fit(dtm)

NearestNeighbors(algorithm='ball_tree', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                 radius=1.0)

In [85]:
new = 'A magical boy fights evil with his friends at school'
new_doc = make_tokens(new)
new_vected = vect.transform(new_doc)
new_df = pd.DataFrame(new_vected.todense(), vect.get_feature_names())
nn.kneighbors(new_df)

ValueError: Shape of passed values is (6, 59664), indices imply (59664, 59664)