In [24]:
import pandas as pd

In [25]:
df = pd.read_csv("best_books_titles.csv")

print(df.shape)

df.head()

(52316, 3)

,Title,Author,Rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.33 avg rating — 6,187,344 ratings"
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"4.50 avg rating — 2,411,676 ratings"
2,To Kill a Mockingbird,Harper Lee,"4.28 avg rating — 4,345,348 ratings"
3,Pride and Prejudice,Jane Austen,"4.26 avg rating — 2,884,006 ratings"
4,"Twilight (Twilight, #1)",Stephenie Meyer,"3.59 avg rating — 4,812,265 ratings"

In [28]:
df.isnull().sum()

Title     98
Author    98
Rating    98
dtype: int64

In [30]:
df[df.Title.isna()]

    Title Author Rating
102   NaN    NaN    NaN
103   NaN    NaN    NaN
104   NaN    NaN    NaN
105   NaN    NaN    NaN
106   NaN    NaN    NaN
..    ...    ...    ...
195   NaN    NaN    NaN
196   NaN    NaN    NaN
197   NaN    NaN    NaN
198   NaN    NaN    NaN
199   NaN    NaN    NaN

[98 rows x 3 columns]

In [38]:
missing = pd.read_csv("best_books_titles_missing.csv")

print(missing.shape)

missing.head()

(100, 3)

,Title,Author,Rating
0,"Moby-Dick or, the Whale",Herman Melville,"3.50 avg rating — 468,904 ratings"
1,The Red Tent,Anita Diamant (Goodreads Author),"4.18 avg rating — 509,505 ratings"
2,The Secret Life of Bees,Sue Monk Kidd (Goodreads Author),"4.05 avg rating — 1,094,700 ratings"
3,Harry Potter and the Goblet of Fire (Harry Pot...,J.K. Rowling,"4.56 avg rating — 2,489,931 ratings"
4,"Clockwork Angel (The Infernal Devices, #1)",Cassandra Clare (Goodreads Author),"4.33 avg rating — 636,982 ratings"

In [36]:
df.query("Title == 'Moby-Dick or, the Whale'")

,Title,Author,Rating
100,"Moby-Dick or, the Whale",Herman Melville,"3.50 avg rating — 468,894 ratings"

In [34]:
df.iloc[101:120]

,Title,Author,Rating
101,The Red Tent,Anita Diamant (Goodreads Author),"4.18 avg rating — 509,492 ratings"
102,NaN,NaN,NaN
103,NaN,NaN,NaN
104,NaN,NaN,NaN
105,NaN,NaN,NaN
106,NaN,NaN,NaN
107,NaN,NaN,NaN
108,NaN,NaN,NaN
109,NaN,NaN,NaN
110,NaN,NaN,NaN
111,NaN,NaN,NaN
112,NaN,NaN,NaN
113,NaN,NaN,NaN
114,NaN,NaN,NaN
115,NaN,NaN,NaN
116,NaN,NaN,NaN
117,NaN,NaN,NaN
118,NaN,NaN,NaN
119,NaN,NaN,NaN

In [40]:
missing = missing.iloc[2:]

In [43]:
first = df.iloc[:102]

last = df.iloc[200:]

In [54]:
full_df = pd.concat([first, missing, last])

print(full_df.shape)

full_df.head()

(52316, 3)

,Title,Author,Rating
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.33 avg rating — 6,187,344 ratings"
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"4.50 avg rating — 2,411,676 ratings"
2,To Kill a Mockingbird,Harper Lee,"4.28 avg rating — 4,345,348 ratings"
3,Pride and Prejudice,Jane Austen,"4.26 avg rating — 2,884,006 ratings"
4,"Twilight (Twilight, #1)",Stephenie Meyer,"3.59 avg rating — 4,812,265 ratings"

In [55]:
full_df.isnull().sum()

Title     0
Author    0
Rating    0
dtype: int64

In [56]:
full_df.iloc[105:139]

,Title,Author,Rating
5,And Then There Were None,Agatha Christie,"4.26 avg rating — 766,723 ratings"
6,Middlesex,Jeffrey Eugenides,"4.01 avg rating — 573,308 ratings"
7,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,"4.57 avg rating — 2,347,075 ratings"
8,The Stranger,Albert Camus,"3.98 avg rating — 673,020 ratings"
9,The Master and Margarita,Mikhail Bulgakov,"4.30 avg rating — 230,743 ratings"
10,The Name of the Wind (The Kingkiller Chronicle...,Patrick Rothfuss (Goodreads Author),"4.54 avg rating — 683,357 ratings"
11,The Shining,Stephen King (Goodreads Author),"4.23 avg rating — 1,082,966 ratings"
12,The Adventures of Tom Sawyer,Mark Twain,"3.91 avg rating — 736,286 ratings"
13,"Eragon (The Inheritance Cycle, #1)",Christopher Paolini (Goodreads Author),"3.90 avg rating — 1,395,772 ratings"
14,Charlie and the Chocolate Factory (Charlie Buc...,Roald Dahl,"4.14 avg rating — 637,817 ratings"
15,On the Road,Jack Kerouac,"3.62 avg rating — 335,845 ratings"
16,Flowers For Algernon,Daniel Keyes,"4.13 avg rating — 461,967 ratings"
17,The Metamorphosis,Franz Kafka,"3.82 avg rating — 606,577 ratings"
18,Looking for Alaska,John Green (Goodreads Author),"4.03 avg rating — 1,077,090 ratings"
19,The Shadow of the Wind (The Cemetery of Forgot...,Carlos Ruiz Zafón,"4.27 avg rating — 438,026 ratings"
20,The Curious Incident of the Dog in the Night-Time,Mark Haddon,"3.88 avg rating — 1,157,235 ratings"
21,The Very Hungry Caterpillar,Eric Carle,"4.30 avg rating — 382,240 ratings"
22,Tuesdays with Morrie,Mitch Albom (Goodreads Author),"4.11 avg rating — 756,031 ratings"
23,The Unbearable Lightness of Being,Milan Kundera,"4.10 avg rating — 327,231 ratings"
24,The Name of the Rose,Umberto Eco,"4.12 avg rating — 288,829 ratings"
25,Where the Red Fern Grows,Wilson Rawls,"4.08 avg rating — 332,678 ratings"
26,The Scarlet Letter,Nathaniel Hawthorne,"3.41 avg rating — 688,131 ratings"
27,The Godfather,Mario Puzo,"4.37 avg rating — 321,691 ratings"
28,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,"4.42 avg rating — 2,616,515 ratings"
29,In Cold Blood,Truman Capote,"4.07 avg rating — 506,913 ratings"
30,Fight Club,Chuck Palahniuk (Goodreads Author),"4.19 avg rating — 481,673 ratings"
31,The Five People You Meet in Heaven,Mitch Albom (Goodreads Author),"3.94 avg rating — 565,385 ratings"
32,"Hush, Hush (Hush, Hush, #1)",Becca Fitzpatrick (Goodreads Author),"3.97 avg rating — 554,152 ratings"
33,Lonesome Dove,Larry McMurtry,"4.49 avg rating — 142,485 ratings"
34,The Cat in the Hat,Dr. Seuss,"4.17 avg rating — 407,921 ratings"
35,"American Gods (American Gods, #1)",Neil Gaiman (Goodreads Author),"4.11 avg rating — 733,459 ratings"
36,"Holes (Holes, #1)",Louis Sachar,"3.97 avg rating — 940,026 ratings"
37,Perfume: The Story of a Murderer,Patrick Süskind,"4.03 avg rating — 307,974 ratings"
38,The Count of Monte Cristo,Alexandre Dumas,"4.25 avg rating — 727,384 ratings"

In [60]:
full_df.dtypes

Title     object
Author    object
Rating    object
dtype: object

In [61]:
full_df.isnull().sum()

Title     0
Author    0
Rating    0
dtype: int64

In [57]:
def drop_parens(text):
    return text.split('(')[0].strip()

drop_parens('Patrick Rothfuss (Goodreads Author)')

'Patrick Rothfuss'

In [64]:
for col in ['Title', 'Author']:
    full_df[col] = full_df[col].apply(drop_parens)

In [65]:
full_df.head()

,Title,Author,Rating
0,The Hunger Games,Suzanne Collins,"4.33 avg rating — 6,187,344 ratings"
1,Harry Potter and the Order of the Phoenix,J.K. Rowling,"4.50 avg rating — 2,411,676 ratings"
2,To Kill a Mockingbird,Harper Lee,"4.28 avg rating — 4,345,348 ratings"
3,Pride and Prejudice,Jane Austen,"4.26 avg rating — 2,884,006 ratings"
4,Twilight,Stephenie Meyer,"3.59 avg rating — 4,812,265 ratings"

In [66]:
full_df['Rating'] = full_df['Rating'].apply(lambda x: x.split()[0])

In [67]:
full_df.head()

                                       Title           Author Rating
0                           The Hunger Games  Suzanne Collins   4.33
1  Harry Potter and the Order of the Phoenix     J.K. Rowling   4.50
2                      To Kill a Mockingbird       Harper Lee   4.28
3                        Pride and Prejudice      Jane Austen   4.26
4                                   Twilight  Stephenie Meyer   3.59

In [68]:
full_df.to_csv("cleaned_book_titles.csv", index=False)

## Break

Below here is exploratory work and no longer relevant.

Below I discovered what was wrong with my first attempt at collecting the data

In [11]:
import csv

books = []
with open("best_books_titles.csv") as f:
    title = csv.reader(f)
    counter = 0
    for t in title:
        if counter % 2 == 0:
            books.append(t)
        counter += 1

UnicodeDecodeError: 'charmap' codec can't decode byte 0x8d in position 6126: character maps to <undefined>

In [13]:
len(books)

62

In [14]:
import pandas as pd

In [23]:
df = pd.read_csv("best_books_titles.csv", sep=',')

ParserError: Error tokenizing data. C error: Expected 4 fields in line 93, saw 5

In [17]:
print(df.shape)

(52300, 1)

In [19]:
df.head()

                                 Title,Author,Rating
0  The Hunger Games (The Hunger Games, #1),by Suz...
1  Harry Potter and the Order of the Phoenix (Har...
2  To Kill a Mockingbird,by Harper Lee,"4.28 avg ...
3  Pride and Prejudice,by Jane Austen,"4.26 avg r...
4  Twilight (Twilight, #1),by Stephenie Meyer,"3....