In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("best_books_details_p1_p3.csv")

print(df.shape)

df.head()

(254, 6)

,title,author,rating,description,language,isbn
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.33 avg rating — 6,191,931 ratings",WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,0439023483 (ISBN13: 9780439023481)
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"4.50 avg rating — 2,414,060 ratings",There is a door at the end of a silent corrido...,English,0439358078 (ISBN13: 9780439358071)
2,To Kill a Mockingbird,Harper Lee,"4.28 avg rating — 4,348,656 ratings",The unforgettable novel of a childhood in a sl...,English,NaN
3,Pride and Prejudice,Jane Austen,"4.26 avg rating — 2,886,703 ratings",Alternate cover edition of ISBN 9780679783268S...,English,NaN
4,"Twilight (Twilight, #1)",Stephenie Meyer,"3.59 avg rating — 4,815,701 ratings",About three things I was absolutely positive.\...,English,0316015849 (ISBN13: 9780316015844)

In [6]:
df['title']

0                The Hunger Games (The Hunger Games, #1)
1      Harry Potter and the Order of the Phoenix (Har...
2                                  To Kill a Mockingbird
3                                    Pride and Prejudice
4                                Twilight (Twilight, #1)
                             ...
249        A Clash of Kings (A Song of Ice and Fire, #2)
250                                            Blindness
251                                       The Green Mile
252                          Marked (House of Night, #1)
253                       Fear and Loathing in Las Vegas
Name: title, Length: 254, dtype: object

In [9]:
# Did any values come in missing?
# Just ISBN for 60 books from first file
df.isnull().sum()

title           0
author          0
rating          0
description     0
language        0
isbn           60
dtype: int64

In [14]:
master = pd.concat([
    pd.read_csv("best_books_details_p1_p3.csv"),
    pd.read_csv("best_books_details_p3_p5.csv"),
    pd.read_csv("best_books_details_p5_p11.csv"),
    pd.read_csv("best_books_details_p11_p24.csv"),
    pd.read_csv("best_books_details_p50_p100.csv"),
    pd.read_csv("best_books_details_5.csv"),
])

In [15]:
print(master.shape)

master.head()

(12557, 6)

,title,author,rating,description,language,isbn
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.33 avg rating — 6,191,931 ratings",WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,0439023483 (ISBN13: 9780439023481)
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"4.50 avg rating — 2,414,060 ratings",There is a door at the end of a silent corrido...,English,0439358078 (ISBN13: 9780439358071)
2,To Kill a Mockingbird,Harper Lee,"4.28 avg rating — 4,348,656 ratings",The unforgettable novel of a childhood in a sl...,English,NaN
3,Pride and Prejudice,Jane Austen,"4.26 avg rating — 2,886,703 ratings",Alternate cover edition of ISBN 9780679783268S...,English,NaN
4,"Twilight (Twilight, #1)",Stephenie Meyer,"3.59 avg rating — 4,815,701 ratings",About three things I was absolutely positive.\...,English,0316015849 (ISBN13: 9780316015844)

In [17]:
# Master df of ~12500 ish books
# 1275 of title/author/rating

# 1535 of description

# 1971 of language

# 3587 of ISBN 

master.isnull().sum()

title          1275
author         1275
rating         1275
description    1535
language       1971
isbn           3587
dtype: int64

### Title Investigation

- NaN 'titles' are droppable

In [21]:
master['title'].value_counts()

The Gift                                                      5
Inferno                                                       3
Floors                                                        3
The Night Circus                                              3
The Wall                                                      3
                                                             ..
No Time to Die & The Deep End of Fear (Dark Secrets, #3-4)    1
Death Note: Black Edition, Vol. 1                             1
The Virtues of War: A Novel of Alexander the Great            1
الهويات القاتلة                                               1
How to Abduct a Highland Lord (MacLean Curse, #1)             1
Name: title, Length: 11009, dtype: int64

In [24]:
mask = master['title'].isna()

master[mask]

     title author rating description language isbn
558    NaN    NaN    NaN         NaN      NaN  NaN
559    NaN    NaN    NaN         NaN      NaN  NaN
560    NaN    NaN    NaN         NaN      NaN  NaN
561    NaN    NaN    NaN         NaN      NaN  NaN
562    NaN    NaN    NaN         NaN      NaN  NaN
...    ...    ...    ...         ...      ...  ...
4991   NaN    NaN    NaN         NaN      NaN  NaN
4992   NaN    NaN    NaN         NaN      NaN  NaN
4994   NaN    NaN    NaN         NaN      NaN  NaN
4996   NaN    NaN    NaN         NaN      NaN  NaN
4997   NaN    NaN    NaN         NaN      NaN  NaN

[1275 rows x 6 columns]

### Language Investigation

In [25]:
master['language'].value_counts()

English                                9520
Arabic                                  219
Spanish                                 155
French                                  120
German                                   87
Indonesian                               82
Portuguese                               56
Italian                                  42
Turkish                                  38
Dutch                                    37
Persian                                  29
Polish                                   21
Romanian                                 18
Bulgarian                                15
Czech                                    15
Malay                                    14
Japanese                                 10
Swedish                                   9
Greek, Modern (1453-)                     9
Russian                                   8
Urdu                                      8
Bengali                                   6
Serbian                                   6
Finnish                                   6
Estonian                                  6
Vietnamese                                5
Multiple languages                        4
Danish                                    3
Hungarian                                 3
Malayalam                                 3
Thai                                      3
Tamil                                     3
Croatian                                  2
Lithuanian                                2
Filipino; Pilipino                        2
Georgian                                  2
Norwegian                                 2
Catalan; Valencian                        2
Hindi                                     1
Icelandic                                 1
Kannada                                   1
Amharic                                   1
Afrikaans                                 1
Albanian                                  1
Latvian                                   1
Telugu                                    1
Armenian                                  1
Bokmål, Norwegian; Norwegian Bokmål       1
Bosnian                                   1
Marathi                                   1
Macedonian                                1
Gujarati                                  1
Name: language, dtype: int64

In [26]:
master.query("language == 'French'")

,title,author,rating,description,language,isbn
181,Madame Bovary,Gustave Flaubert,"3.67 avg rating — 243,518 ratings","'Oh, why, dear God, did I marry him?'Emma Bova...",French,0192840398 (ISBN13: 9780192840394)
450,Christine,Stephen King (Goodreads Author),"3.78 avg rating — 193,712 ratings",Master storyteller Stephen King presents the c...,French,2253147699 (ISBN13: 9782253147695)
481,L'Écume des jours,Boris Vian,"3.99 avg rating — 26,011 ratings","Chick, Alise, Chloé et Colin passent leur temp...",French,2253140872 (ISBN13: 9782253140870)
712,La Vérité sur l'affaire Harry Quebert,Joël Dicker,"4.06 avg rating — 81,970 ratings","À New York, au printemps 2008, alors que l’Amé...",French,2877068161 (ISBN13: 9782877068161)
900,Hell's Angels: A Strange and Terrible Saga,Hunter S. Thompson,"3.97 avg rating — 41,790 ratings","""California, Labor Day weekend...early, with o...",French,222109073X (ISBN13: 9782221090732)
...,...,...,...,...,...,...
4684,"Le Souffle de la Hyène (L'Autre, #1)",Pierre Bottero,"4.22 avg rating — 1,132 ratings","- Ne me touche pas...\r\nLa voix, cassée, étai...",French,2700231198 (ISBN13: 9782700231199)
4805,Le 5e règne,Maxime Chattam,3.91 avg rating — 608 ratings,Ils auraient dû se méfier. Respecter le couvre...,French,2266143778 (ISBN13: 9782266143776)
4835,Nous serons comme des dieux,Ève de Castro,4.25 avg rating — 8 ratings,"Philippe d'Orléans, régent de France après la ...",French,2226084754 (ISBN13: 9782226084750)
4843,"No Pasarán, Le Jeu",Christian Lehmann (Goodreads Author),3.35 avg rating — 227 ratings,"Thierry, Éric et Andreas sont trois camarades ...",French,2211037119 (ISBN13: 9782211037112)
4849,Une Anglaise à bicyclette,Didier Decoin,3.11 avg rating — 55 ratings,Tout commence par un massacre d’Indiens en déc...,French,2234062640 (ISBN13: 9782234062641)

In [27]:
master.query("language == 'English'")

,title,author,rating,description,language,isbn
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.33 avg rating — 6,191,931 ratings",WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,0439023483 (ISBN13: 9780439023481)
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"4.50 avg rating — 2,414,060 ratings",There is a door at the end of a silent corrido...,English,0439358078 (ISBN13: 9780439358071)
2,To Kill a Mockingbird,Harper Lee,"4.28 avg rating — 4,348,656 ratings",The unforgettable novel of a childhood in a sl...,English,NaN
3,Pride and Prejudice,Jane Austen,"4.26 avg rating — 2,886,703 ratings",Alternate cover edition of ISBN 9780679783268S...,English,NaN
4,"Twilight (Twilight, #1)",Stephenie Meyer,"3.59 avg rating — 4,815,701 ratings",About three things I was absolutely positive.\...,English,0316015849 (ISBN13: 9780316015844)
...,...,...,...,...,...,...
4893,Humans of New York: Stories,Brandon Stanton,"4.53 avg rating — 16,112 ratings","In the summer of 2010, photographer Brandon St...",English,1250058902 (ISBN13: 9781250058904)
4894,Dark Soul (The Legends of Regia #4),Tenaya Jayne (Goodreads Author),4.21 avg rating — 356 ratings,Thief. Murderess. Sacrificial messenger. Netri...,English,NaN
4895,Fool Me Once,Harlan Coben (Goodreads Author),"3.93 avg rating — 73,656 ratings","Former special ops pilot Maya, home from the w...",English,0525955097 (ISBN13: 9780525955092)
4896,Pushing Ice,Alastair Reynolds,"4.04 avg rating — 14,173 ratings",2057. Bella Lind and the crew of her nuclearpo...,English,0441014011 (ISBN13: 9780441014019)
4897,Love Warrior,Glennon Doyle Melton (Goodreads Author),"4.09 avg rating — 47,955 ratings",The highly anticipated new memoir by bestselli...,English,1250075726 (ISBN13: 9781250075727)