In [43]:
import pandas as pd
import numpy as np

In [44]:
master = pd.concat([
    pd.read_csv("best_books_details_p1_p3.csv"),
    pd.read_csv("best_books_details_p3_p5.csv"),
    pd.read_csv("best_books_details_p5_p11.csv"),
    pd.read_csv("best_books_details_p11_p24.csv"),
    pd.read_csv("best_books_details_p50_p100.csv"),
    pd.read_csv("best_books_details_5.csv"),
    pd.read_csv("best_books_details_hp4.csv"),
    pd.read_csv("best_books_details_p201_p248.csv"),
    pd.read_csv("best_books_details_p25_p46.csv"),
    pd.read_csv("best_books_details_p46_p47.csv"),
    pd.read_csv("best_books_details_p47_p50.csv"),
    pd.read_csv("best_books_details_5.csv")
])

In [45]:
print(master.shape)

master.head()

(30256, 6)

,title,author,rating,description,language,isbn
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.33 avg rating — 6,191,931 ratings",WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,0439023483 (ISBN13: 9780439023481)
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"4.50 avg rating — 2,414,060 ratings",There is a door at the end of a silent corrido...,English,0439358078 (ISBN13: 9780439358071)
2,To Kill a Mockingbird,Harper Lee,"4.28 avg rating — 4,348,656 ratings",The unforgettable novel of a childhood in a sl...,English,NaN
3,Pride and Prejudice,Jane Austen,"4.26 avg rating — 2,886,703 ratings",Alternate cover edition of ISBN 9780679783268S...,English,NaN
4,"Twilight (Twilight, #1)",Stephenie Meyer,"3.59 avg rating — 4,815,701 ratings",About three things I was absolutely positive.\...,English,0316015849 (ISBN13: 9780316015844)

In [46]:
# Master df of ~30000 books
# 10549 of title/author/rating

# 11219 of description

# 12160 of language

# 15141 of ISBN 

master.isnull().sum()

title          10549
author         10549
rating         10549
description    11219
language       12160
isbn           15141
dtype: int64

In [52]:
master.dropna(subset=['title'], inplace=True)

In [53]:
master.isnull().sum()

title             0
author            0
rating            0
description     676
language       1617
isbn           4596
dtype: int64

In [54]:
master.to_csv('master_books.csv')

### Title Investigation

- NaN 'titles' are droppable

In [47]:
master['title'].value_counts()

The Lost Girls of Rome                                     6
Floors                                                     6
The Gift                                                   6
The Stand                                                  5
Applied Economics: Thinking Beyond Stage One               4
                                                          ..
Skagboys                                                   1
Dead as a Doornail (Sookie Stackhouse, #5)                 1
ئەلف                                                       1
Whisper Me This                                            1
Love, Life, and the List (Love, Life, and the List, #1)    1
Name: title, Length: 14786, dtype: int64

In [48]:
mask = master['title'].isna()

master[mask]

     title author rating description language isbn
558    NaN    NaN    NaN         NaN      NaN  NaN
559    NaN    NaN    NaN         NaN      NaN  NaN
560    NaN    NaN    NaN         NaN      NaN  NaN
561    NaN    NaN    NaN         NaN      NaN  NaN
562    NaN    NaN    NaN         NaN      NaN  NaN
...    ...    ...    ...         ...      ...  ...
4991   NaN    NaN    NaN         NaN      NaN  NaN
4992   NaN    NaN    NaN         NaN      NaN  NaN
4994   NaN    NaN    NaN         NaN      NaN  NaN
4996   NaN    NaN    NaN         NaN      NaN  NaN
4997   NaN    NaN    NaN         NaN      NaN  NaN

[10549 rows x 6 columns]

### Language Investigation

In [49]:
master['language'].value_counts()

English                                15964
Arabic                                   442
Spanish                                  279
French                                   220
German                                   160
Indonesian                               159
Portuguese                               114
Italian                                   90
Dutch                                     86
Turkish                                   77
Persian                                   54
Polish                                    41
Romanian                                  37
Malay                                     33
Czech                                     33
Bulgarian                                 31
Swedish                                   25
Japanese                                  24
Urdu                                      21
Greek, Modern (1453-)                     21
Russian                                   18
Bengali                                   17
Serbian                                   14
Estonian                                  13
Finnish                                   13
Vietnamese                                11
Lithuanian                                 9
Norwegian                                  8
Hungarian                                  7
Tamil                                      6
Malayalam                                  6
Thai                                       6
Danish                                     6
Catalan; Valencian                         5
Multiple languages                         5
Croatian                                   4
Georgian                                   4
Filipino; Pilipino                         3
Amharic                                    3
Armenian                                   3
Bosnian                                    3
Telugu                                     2
Macedonian                                 2
Chinese                                    2
Afrikaans                                  2
Albanian                                   2
Kannada                                    2
Latvian                                    2
Gujarati                                   2
Bokmål, Norwegian; Norwegian Bokmål        2
Marathi                                    1
Icelandic                                  1
Hindi                                      1
Name: language, dtype: int64

In [50]:
# Here we separate and save english books
# why save tho?
english = master[master['language'] == 'English']
print(english.shape)
english.isnull().sum()

(15964, 6)

title             4
author            4
rating            4
description     148
language          0
isbn           2755
dtype: int64

In [51]:
english[english.title.isna()]

,title,author,rating,description,language,isbn
1003,NaN,NaN,NaN,An apparent suicide. A mysterious disappearanc...,English,NaN
2409,NaN,NaN,NaN,"With Commentary by E. M. Forster, Dorothy Park...",English,0375753141 (ISBN13: 9780375753145)
2410,NaN,NaN,NaN,"With Commentary by E. M. Forster, Dorothy Park...",English,0375753141 (ISBN13: 9780375753145)
2417,NaN,NaN,NaN,When Raven returns to Hipsterville's cryptic g...,English,0061288853 (ISBN13: 9780061288852)

In [26]:
master.query("language == 'French'")

,title,author,rating,description,language,isbn
181,Madame Bovary,Gustave Flaubert,"3.67 avg rating — 243,518 ratings","'Oh, why, dear God, did I marry him?'Emma Bova...",French,0192840398 (ISBN13: 9780192840394)
450,Christine,Stephen King (Goodreads Author),"3.78 avg rating — 193,712 ratings",Master storyteller Stephen King presents the c...,French,2253147699 (ISBN13: 9782253147695)
481,L'Écume des jours,Boris Vian,"3.99 avg rating — 26,011 ratings","Chick, Alise, Chloé et Colin passent leur temp...",French,2253140872 (ISBN13: 9782253140870)
712,La Vérité sur l'affaire Harry Quebert,Joël Dicker,"4.06 avg rating — 81,970 ratings","À New York, au printemps 2008, alors que l’Amé...",French,2877068161 (ISBN13: 9782877068161)
900,Hell's Angels: A Strange and Terrible Saga,Hunter S. Thompson,"3.97 avg rating — 41,790 ratings","""California, Labor Day weekend...early, with o...",French,222109073X (ISBN13: 9782221090732)
...,...,...,...,...,...,...
4684,"Le Souffle de la Hyène (L'Autre, #1)",Pierre Bottero,"4.22 avg rating — 1,132 ratings","- Ne me touche pas...\r\nLa voix, cassée, étai...",French,2700231198 (ISBN13: 9782700231199)
4805,Le 5e règne,Maxime Chattam,3.91 avg rating — 608 ratings,Ils auraient dû se méfier. Respecter le couvre...,French,2266143778 (ISBN13: 9782266143776)
4835,Nous serons comme des dieux,Ève de Castro,4.25 avg rating — 8 ratings,"Philippe d'Orléans, régent de France après la ...",French,2226084754 (ISBN13: 9782226084750)
4843,"No Pasarán, Le Jeu",Christian Lehmann (Goodreads Author),3.35 avg rating — 227 ratings,"Thierry, Éric et Andreas sont trois camarades ...",French,2211037119 (ISBN13: 9782211037112)
4849,Une Anglaise à bicyclette,Didier Decoin,3.11 avg rating — 55 ratings,Tout commence par un massacre d’Indiens en déc...,French,2234062640 (ISBN13: 9782234062641)

In [27]:
master.query("language == 'English'")

,title,author,rating,description,language,isbn
0,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"4.33 avg rating — 6,191,931 ratings",WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,0439023483 (ISBN13: 9780439023481)
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,"4.50 avg rating — 2,414,060 ratings",There is a door at the end of a silent corrido...,English,0439358078 (ISBN13: 9780439358071)
2,To Kill a Mockingbird,Harper Lee,"4.28 avg rating — 4,348,656 ratings",The unforgettable novel of a childhood in a sl...,English,NaN
3,Pride and Prejudice,Jane Austen,"4.26 avg rating — 2,886,703 ratings",Alternate cover edition of ISBN 9780679783268S...,English,NaN
4,"Twilight (Twilight, #1)",Stephenie Meyer,"3.59 avg rating — 4,815,701 ratings",About three things I was absolutely positive.\...,English,0316015849 (ISBN13: 9780316015844)
...,...,...,...,...,...,...
4893,Humans of New York: Stories,Brandon Stanton,"4.53 avg rating — 16,112 ratings","In the summer of 2010, photographer Brandon St...",English,1250058902 (ISBN13: 9781250058904)
4894,Dark Soul (The Legends of Regia #4),Tenaya Jayne (Goodreads Author),4.21 avg rating — 356 ratings,Thief. Murderess. Sacrificial messenger. Netri...,English,NaN
4895,Fool Me Once,Harlan Coben (Goodreads Author),"3.93 avg rating — 73,656 ratings","Former special ops pilot Maya, home from the w...",English,0525955097 (ISBN13: 9780525955092)
4896,Pushing Ice,Alastair Reynolds,"4.04 avg rating — 14,173 ratings",2057. Bella Lind and the crew of her nuclearpo...,English,0441014011 (ISBN13: 9780441014019)
4897,Love Warrior,Glennon Doyle Melton (Goodreads Author),"4.09 avg rating — 47,955 ratings",The highly anticipated new memoir by bestselli...,English,1250075726 (ISBN13: 9781250075727)

In [28]:
mask = master['language'].isna()

master[mask]

,title,author,rating,description,language,isbn
54,"Cinder (The Lunar Chronicles, #1)",Marissa Meyer (Goodreads Author),"4.14 avg rating — 650,739 ratings",NaN,NaN,NaN
52,All the Light We Cannot See,Anthony Doerr (Goodreads Author),"4.33 avg rating — 968,389 ratings",NaN,NaN,NaN
124,Mistress Suffragette,Diana Forbes (Goodreads Author),"4.34 avg rating — 6,651 ratings",\r\n A young woman without prospects at a bal...,NaN,NaN
164,Invisible Monsters,Chuck Palahniuk (Goodreads Author),"4.01 avg rating — 122,843 ratings",She's a catwalk model who has everything: a bo...,NaN,0393355950 (ISBN13: 9780393355956)
349,"One Fish, Two Fish, Red Fish, Blue Fish",Dr. Seuss (Reader),"4.14 avg rating — 158,389 ratings",One Fish Two Fish Red Fish Blue Fish is a 1960...,NaN,0007173687 (ISBN13: 9780007173686)
...,...,...,...,...,...,...
4993,Environmental Science Earth As A Living Planet,Daniel B. Botkin,3.77 avg rating — 69 ratings,NaN,NaN,NaN
4994,NaN,NaN,NaN,NaN,NaN,NaN
4995,Mason,Thomas Pendleton,3.68 avg rating — 119 ratings,NaN,NaN,NaN
4996,NaN,NaN,NaN,NaN,NaN,NaN
4997,NaN,NaN,NaN,NaN,NaN,NaN